body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
}

/* General Button Styling */
button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
    background-color: #32cd32;
}

button:hover {
    background-color: #228b22;
}
